@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #363958;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}

h3{
  font-size: 22px;
}

p {
  color: #484848;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.text-highlight {
  color: #ff8367;
}

.link-btn {
  background-image: linear-gradient(45deg, #ff468f, orange);
  padding: 10px 20px;
  color: #ffffff;
  display: inline-block;
  border-radius: 5px;
}

.link-btn i{
  margin-right: 10px;
}

.text-center {
  text-align: center;
}

/* Navbar */
.navbar {
  padding: 10px 0;
  margin-bottom: 20px;
}
.navbar ul {
  text-align: right;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  padding: 0 20px;
  color: #000000;
}

/* Identity Area */
.identity-area {
  min-height: 500px;
}

.half-area {
  width: 40%;
  float: left;
  margin: 0 2%;
  padding: 3%;
}

.half-area h1:first-child,
.half-area h2:first-child {
  margin-top: 25px;
}

.half-area p {
  color: gray;
  margin: 30px 0;
}

/* About Area */
.about-area {
  min-height: 500px;
}

/* Work Area */
.work-area{
  min-height: 550px;
  padding-top: 50px;
  margin-top: 30px;
  background-color:#f7f7f7;;
}

.work-area h2{
  margin-bottom: 70px;
}

.three-parts {
  width: 27%;
  height: 280px;
  border-radius: 5px;
  background-color: #ffffff;
  float: left;
  padding: 2%;
  margin: 0 1%;
  box-shadow: 0 0 10px #00000070;
  transition: box-shadow .3s;
}

.three-parts:hover{
  box-shadow: 0 0 1px #00000070;
}

/* Work Inquiry */
.work-inquiry {
  background-image: url(images/Group_33094_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 50px;
  box-sizing: border-box;
  padding: 50px 30px;
  border-radius: 15px;
}

.work-inquiry h2{
  color: #ffffff;
  display: inline-block;
}

.work-inquiry .link-btn{
  float: right;
  margin-top: 8px;
}

/* Blog Area */
.blog-area{
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
  background-color:#f7f7f7;;
}

.blog-area h2{
  margin-bottom: 50px;
}

.blog{
  height: 260px;
}

.blog-img{
  width: 30%;
  margin-right: 2%;
  float: left;
}

.blog-content{
  width: 60%;
  float: left;
}

.blog-content h3{
  margin-top: 20px;
}

.date-cmt{
  font-size: 12px;
  margin-top: 8px;
}

.date-cmt span {
  margin-right: 10px;
  color: gray;
}

.read-more-btn{
  font-size: 14px;
  text-transform: uppercase;
  color: #ff8367;
  transition: color .3s;
}

.read-more-btn:hover{
  color: blue;
}

/* Contact Area */
.contact-area {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-area h4 {
  color: grey;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contact-area h3 a{
  color: #363958;
  font-size: 25px;
}

.contact-area .social{
  padding: 0;
  margin-top: 30px;
}

.contact-area .social li {
  display: inline-block;
}

.contact-area .social li a {
  display: inline-block;
  width: 40px;
  margin: 0 10px;
}